/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2017, 3:00:44 PM
    Author     : clotifoth
*/

* {
    color: #0B2532;
    margin: 0;
    padding: 0;
    text-align: justify;
    transition: all 0.185s ease;
}

h1, h2 {
    color: #DDB771;
    font-size: 3.2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: sans-serif;
    text-shadow: 2px 2px #0B6E4F;
    margin-bottom: 4%;
}

h1 {
    font-size: 3.9em;
    padding: 20px;
}

h3,h4 {
    color: #E2BB79;
    font-size: 1.3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: sans-serif;
    text-shadow: 2px 2px #073B3A;
    margin-bottom: 1%;
}

h4 {
    font-size: 1.0em;
}

body {
    width: 100%;
    background-color: #073B3A;
}

table {
    font-size: 1.3em;
    color: #073B3A;
    margin: 0 auto;
    table-layout: fixed;
    width: 90%;

}

td {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 40%;
    word-wrap: break-word;
    font-family: sans-serif;
    color: #444;
}

ul {
    margin-left: 25px;
    margin-right: 20px;
}

.section_container:hover table tr td.value {
    background-color: #6BBF59;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.section_container:hover table tr td.value.company, 
.section_container:hover table tr td.value.course {
    background-color: #0B6E4F;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.section_container:hover table tr td.value p{
    width: 90%;
    margin: auto;
}

td.key {
    text-align: center;
}

td.company, td.course {
    text-align: center;
    vertical-align: center;
    width: 30%;
}

td.experience {
    max-width: 65%;
}

td.experience a {
    font-size: 1.0em;
    padding: 0;
    margin: 0;
}

p:hover {
    color: #080808;
}

.section_container:hover {
    padding-left: 5%;
    padding-right: 5%;
}
.section_container:not(:hover) {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.section_container {
    background-color: #08A045;
    padding-top: 10px;
    padding-bottom: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section_container:hover table tr td.key a
{
    background-color: #0B6E4F;
}

.section_container:hover table tr td.key a:hover
{
    background-color: rgba(0,0,0,0);
    padding-left: 40px;
    padding-right: 40px;
}

.placeholder {
    height: 10px;
    width: 100%;
}

td.value a:hover {

    color: #DDB771;
    text-shadow: 2px 2px #073B3A;
    text-decoration: none;
}

a.project-header {
    font-size: 1.2em;
    text-shadow: 2px 2px #073B3A;
    color: #DDB771;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.project-header:hover {
    padding: 0.3em;
    border-radius: 55px;
    background-color: rgba(0,0,0,0);
    color: #EDC7A1;
}
a.project-header:not(:hover) {
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 5px;
}

.project-description {
    margin-top: 10px;
    padding: 10px;
}

img.social {
    width: 200px;
    height: 200px;
    mix-blend-mode: screen;
    border-radius: 100px;
}

img.social:hover {
    background-color: #EDC7A1;
}

img.social:not(:hover) {
    background-color: #DDB771;
}
.outer-social:hover {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;

    background-color: rgba(0,0,0,0);
}

.outer-social:not(:hover) {
    margin-left: 40px;
    margin-right: 41px;
    border-radius: 40px;
}

.outer-social {
    padding: 10px;
    background-color: #6BBF59;
}

#socialbar {
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.profile_image {
    border-radius: 10px;
    margin: auto;
}

.section_container:not(:hover) img.profile_image {
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
}

.section_container:hover img.profile_image {
    width: 53%;
    margin-left: 23.5%;
    margin-right: 23.5%;
}

a#resume-link:hover {
    color: #EDC7A1;
}

a#resume-link {
    color: #DDB771;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px #073B3A;
}
