body {
	font-size: 100%;
	font-style: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p{
	width: 80%;
	padding: 1%;
	border: 5% rgb(20,20,20);
	margin: 5% 11% 5% 9%;
	
	font-size: 125%;
	text-align: justify;
	color: rgb(120,120,150);
	background-color: white;
	transition: color 0.3s, background-color 0.3s;
	-webkit-transition: color 0.3s, background-color 0.3s;
}

h1{
	position: relative;

	text-align: center;
	font-size: 250%;
	
	color: rgb(50,0,255);
	background-color: white;
}

h2{
	position: relative;

	color: rgb(75,20,255);
	background-color: white;

	text-align: center;
	font-size: 170%;
	
}

h3{
	position: relative;

	color: rgb(95,20,210);
	background-color: white;

	text-align: center;
	font-size: 140%;
	
}

a{
	color: CornflowerBlue;
	background-color: white;
	text-decoration: none;
	transition: color 0.1s, background-color 0.1s;
	-webkit-transition: color 0.1s, background-color 0.1s;
}

p:hover, p:active{
	color: rgb(100,100,255);
	background-color: rgb(253,253,255);
}

a:active{
	color: LightCyan;
	background-color: rgb(253,253,255);
}